extends layout 
block content
  h2=title 
  hr
  form(method="POST") 
    .input-group.mb-3
      label.input-group-text(for="category_name") Category Name: 
      input.form-control#category_name(type="text", name="category_name", placeholder="eg. Electronics", required, value=(category == undefined ? '':category.name))
    .input-group.mb-3
      label.input-group-text(for="category_description") Category Description (optional): 
      textarea.form-control#category_description(type="text", name="category_description") #{category == undefined ? '' : category.description}
    .input-group  
      button.btn.btn-primary(type='submit') #{buttonName == undefined ? 'Create': buttonName}
  if(errors)
    p Fix these errors to create this category: 
      each error in errors
        li #{error.msg}
    